.item-con {
    margin: 10px auto;
    padding: 10px;
    gap: 30px;
    background-color: white;
}

.cart-image {
    width: 150px;
    height: 150px;
}

.cart-image img {
    height: 100%;
    width: 100%;
}