.cart-heading {
    margin: 20px auto;
    padding: 10px;
    flex-basis: 1000px;
}

.name {
    background-color: white;
    font-size: 0.9em;
    padding: 10px;
}

.user {
    font-size: 0.8em;
    color: grey;
}