.product {
    flex-basis: 300px;
    box-shadow: 1px 1px 4px grey;
    height: 460px;
}

.img-div {
    flex-basis: 55%;
}

.image {
    width: 100%;
    height: 100%;
}

.title {
    font-weight: 400;
}

.category {
    font-size: 0.8em;
}

.rating {
    font-size: 0.9em;
}

.icon {
    height: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}