.min-height-product {
    min-height: 85vh;
    background-color: rgba(255, 255, 255, 0.676);
    margin: 20px auto;
    max-width: 1100px;
    gap: 20px;
}

.title {
    font-weight: 400;
}

.category {
    font-size: 0.8em;
}

.rating {
    font-size: 0.9em;
}

.icon {
    height: 12px;
}

.info {
    /* min-height: 400px; */
    gap: 30px;
}

.title-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.back {
    opacity: 0.5;
    cursor: pointer;
}

.back:hover {
    opacity: 0.8;
}

@media screen and (max-width:570px) {
    .con {
        flex-direction: column;
    }

    .img {
        align-self: center;
        width: 100%;
    }

    .img img {
        width: 100%;
    }
}